html { font-size: 16px; }

/* Small mobile */
@media (max-width: 400px) {
}

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Smaller than tablet */
@media (max-width: 750px) {
	header>div,
	footer>div,
	#content { margin: 1em 0.5em; }
}

/* Larger than tablet */
@media (min-width: 750px) {
	header>div,
	footer>div,
	#content { width: 740px; margin: 1em auto; }
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}

/* TYPOGRAPHY */
h1 { font-size: 2rem; font-weight: normal; }
h2 { font-size: 1rem; font-weight: bold; }
h3 { font-size: 1rem; font-weight: normal; font-style: italic; }

th { font-weight: normal; }

#navigation li { list-style-type: none; }

/* COLOR */
body { background-color: #fff; color: #010; }
footer { background-color: #040; color: #eee; }

a { color: #040; }
a:hover { color: #090; }

button,
#edit_issue,
header ol li a { border: 1px solid #aaa; border-radius: 0.3rem; }

button { background-color: #afa; border-color: #5a5; }

#edit_issue,
a:visited,
header a { text-decoration: none; }

ol.comments li { border-left: 0.3rem solid #ccc; padding-left: 1rem; }

table.issuemeta,
td.date { color: #777; }

hr.clear { color: transparent; width: 0; }

.deadline.missed { color: #a00; }
.deadline.today { background-color: #a00; color: #fff; }
.deadline.within_week { background-color: #fdd; color: #000; }

/* POSITION */

table.issuemeta { margin: 1rem 0; }

textarea { width: 99%; }

#edit_issue,
button { padding: 0.6rem 1rem; margin: 0 1rem 1rem 0; text-align: center;
	display: block; width: 10rem; float: left; }
#edit_issue { width: 8rem; }

footer { padding: 2rem 0 10rem 0; margin-top: 1rem; }

header ol,
ol.comments { padding-left: 0; list-style-type: none; }

ol.comments { padding: 1rem 0; }

th { text-align: left; }
th.date, td.date { padding: 0 1rem; }

header ol { display: flex; }
header ol li { flex: 1 0 auto; text-align: center; }
header ol li+li { margin-left: 1rem; }
#textlogo,
header ol li a { display: block; padding: 0.6rem 0; }

#textlogo { display: block; text-align: left; }

hr.clear,
footer,
ol.comments { clear: both; }
