{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'normalize.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block head %}
{% endblock %}
</head>
<body>
<header><div>
<ol id="navigation">
	<li><span id="textlogo">Family Issue Tracker</span></li>
	<li><a href="{% url 'index' %}">{% trans "Overview" %}</a></li>
	<li><a href="{% url 'create_issue' %}">{% trans "Create New" %}</a></li>
</ol>
</div></header>
<div id="content">
{% block content %}
{% endblock %}
</div>
<footer>
<div>
<p>Family Issue Tracker for {{user}}</p>
</div>
</footer>
</body>
</html>
