{% extends 'base.html' %}

{% load i18n %}

{% block content %}
{% if issues %}
	<table class="issuelist">
	<thead>
	<th class="id">#</th>
	<th class="title">{% trans "Title" %}</th>
	<th class="responsible">{% trans "Responsible" %}</th>
	<th class="date">{% trans "Deadline" %}</th></thead>
	{% for issue in issues %}
		<tr>
		<td class="id"><a href="{% url 'show_issue' issue.pk %}">{{ issue.pk }}</a></td>
		<td class="title"><a href="{% url 'show_issue' issue.pk %}">{{ issue.title }}</a></td>
		{% if issue.responsible %}
			<td class="responsible"><a href="{% url "show_user" issue.responsible.pk %}">{{ issue.responsible }}</a></td>
		{% else %}
			<td class="responsible">–</td>
		{% endif %}
		{% if issue.deadline %}
		<td class="date deadline {{issue.deadline_css_classes}}">{{ issue.deadline|date:"Y-m-d" }}</td>
		{% else %}
		<td class="date deadline">–</td>
		{% endif %}
		</tr>
	{% endfor %}
	</table>
{% else %}
	<p>{% trans "No issues." %}
	<a href="{% url 'create_issue' %}">{% trans "Create one" %}</a>.</p>
{% endif %}
{% endblock %}

