{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<table>
<thead>
<th class="title">{% trans "Title" %}</th>
<th class="responsible">{% trans "Responsible" %}</th>
<th class="date">{% trans "Deadline" %}</th></thead>
{% for issue in issues %}
<tr>
<td class="title"><a href="{% url 'show_issue' issue.pk %}">{{ issue.title }}</a></td>
<td class="responsible">{{ issue.responsible|default_if_none:"–" }}</td>
<td class="date deadline">{{ issue.deadline|date:"Y-m-d" }}</td>
</tr>
{% empty %}
<p>{% trans "No issues." %}
<a href="{% url 'create_issue' %}">{% trans "Create one" %}</a>.</p>
{% endfor %}
</table>

<form>
</form>
{% endblock %}

