{% extends 'base.html' %}

{% block content %}
<h2>{{ issue.title }}</h2>
<p><a href="{% url 'edit_issue' issue.id %}">edit</a></p>
<p>{{ issue.description }}</p>
<table>
<tr><td>Created</td><td>{{ issue.created|date:"Y-m-d H:i e" }}</td></tr>
{% if issue.closed %}
<tr><td>Closed</td><td>{{ issue.closed|date:"Y-m-d H:i e" }}</td></tr>
{% endif %}
</table>
<ol class="comments">
{% for comment in issue.comments.all %}
<li><p>{{ comment.body }}</p></li>
{% endfor %}
<li><form method="POST" action="{% url 'create_comment' %}">
{% csrf_token %}
{{ commentform.body }}
<input type="hidden" name="{{commentform.issue.name}}" value="{{issue.id}}" />
<button>Comment</button>
</form></li>
</ol>
{% endblock %}
