{% extends 'base.html' %}

{% load markdown_deux_tags %}

{% block content %}
<h2>{{ issue.title }}</h2>
<p>{{ issue.description|markdown }}</p>
<table class="issuemeta">
<tr><td>Created</td><td>{{ issue.created|date:"Y-m-d H:i e" }}</td></tr>
{% if issue.closed %}
<tr><td>Closed</td><td>{{ issue.closed|date:"Y-m-d H:i e" }}</td></tr>
{% endif %}
</table>
<div class="issue_modifiers">
	<a id="edit_issue" href="{% url 'edit_issue' issue.id %}">Edit</a>
	{% if issue.closed == None %}
	<form method="POST" action="{% url 'close_issue' %}">
	{% else %}
	<form method="POST" action="{% url 'reopen_issue' %}">
	{% endif %}
	{% csrf_token %}
	<input type="hidden" name="issue_id" value="{{issue.id}}" />
	{% if issue.closed == None %}
	<button>Close</button>
	{% else %}
	<button>Reopen</button>
	{% endif %}
	</form>
</div>
<ol class="comments">
{% for comment in issue.comments.all %}
<li><p>{{ comment.body|markdown }}</p></li>
{% endfor %}
<li><form method="POST" action="{% url 'create_comment' %}">
{% csrf_token %}
{{ commentform.body }}
<input type="hidden" name="{{commentform.issue.name}}" value="{{issue.id}}" />
<button>Comment</button>
<hr class="clear"/>
</form></li>
</ol>
{% endblock %}
