{% extends 'base.html' %}
{% load i18n %}
{% load markdown_deux_tags %}

{% block content %}
<h2>{{ issue.title }}</h2>
<p>{{ issue.description|markdown }}</p>
<table class="issuemeta">
<tr><td>{% trans "Responsible" %}</td><td>{{ issue.responsible|default_if_none:"–" }}</td></tr>
<tr><td>{% trans "Created" %}</td><td>{{ issue.created|date:"Y-m-d H:i e" }}</td></tr>
{% if issue.closed %}
<tr><td>{% trans "Closed" %}</td><td>{{ issue.closed|date:"Y-m-d H:i e" }}</td></tr>
{% endif %}
<tr><td>{% trans "Creator" %}</td><td>{{ issue.creator.name }}</td></tr>
</table>
<div class="issue_modifiers">
	<a id="edit_issue" href="{% url 'edit_issue' issue.id %}">{% trans "Edit" %}</a>
	{% if issue.closed == None %}
	<form method="POST" action="{% url 'close_issue' %}">
	{% else %}
	<form method="POST" action="{% url 'reopen_issue' %}">
	{% endif %}
	{% csrf_token %}
	<input type="hidden" name="issue_id" value="{{issue.id}}" />
	{% if issue.closed == None %}
	<button>{% trans "Close" %}</button>
	{% else %}
	<button>{% trans "Reopen" %}</button>
	{% endif %}
	</form>
</div>
<ol class="comments">
{% for comment in issue.comments.all %}
<li><p>{{ comment.body|markdown }}</p><p>{% trans "by" %} {{comment.creator.name}}</li>
{% endfor %}
<li><form method="POST" action="{% url 'create_comment' %}">
{% csrf_token %}
{{ commentform.body }}
<input type="hidden" name="{{commentform.issue.name}}" value="{{issue.id}}" />
<button>Comment</button>
<hr class="clear"/>
</form></li>
</ol>
{% endblock %}
